@import "tailwindcss";

html{
    scroll-behavior: smooth;
    scroll-padding-top: 65px;
}

/* Importando fuente Plus Jakarta Sans */

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./assets/fonts/PlusJakartaSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./assets/fonts/PlusJakartaSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./assets/fonts/PlusJakartaSans-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./assets/fonts/PlusJakartaSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Importando fuente Kumbh Sans - titulos*/

@font-face {
    font-family: 'Kumbh Sans';
    src: url('./assets/fonts/KumbhSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kumbh Sans';
    src: url('./assets/fonts/KumbhSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kumbh Sans';
    src: url('./assets/fonts/KumbhSans-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kumbh Sans';
    src: url('./assets/fonts/KumbhSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-sans: 'Plus Jakarta Sans', system-ui, sans-serif;
    --font-kumbh: 'Kumbh Sans', system-ui, sans-serif;
}
